**/plugin/
.luarc.json

# emacs
emacs/.emacs.d*/straight/
emacs/.emacs.d*/elpa/
emacs/.emacs.d*/eln-cache/
emacs/.emacs.d*/transient/
emacs/.emacs.d*/history
emacs/.emacs.d*/recentf*
emacs/.emacs.d*/.cache/
emacs/.emacs.d*/.dap-breakpoints
emacs/.emacs.d*/.lsp-session-v1
emacs/.emacs.d*/eshell/
emacs/.emacs.d*/projects
emacs/.emacs.d*/url/
emacs/.emacs.d*/tree-sitter/
emacs/.emacs.d*/auto-save-list/
emacs/.emacs.d*/.lsp*
emacs/.emacs.d*/tramp*
emacs/.emacs.d*/**/*.eld
